body {
  font-family: Arial, sans-serif;
  background-color: #cbdff3;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #a6b8d7;

  h2 {
    text-align: center;
    color: #333;
  }
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 10px;
    color: #555;
    font-weight: bold;
  }

  input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;

    .react-datepicker-wrapper,
    .react-select-container {
      border: none;
    }
  }

  .address {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;

    legend {
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
    }

    label {
      margin-top: 10px;
    }
  }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;

  &:hover {
    background: #0056b3;
  }
}
